# IDE
.idea/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data files (too large for git)
*.csv
*.json
receipts_pdf/

# OS
.DS_Store
Thumbs.db